= simple_form_for student do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :birthdate, as: :date_time_picker, input_html: { value: f.object.decorate.birthdate }
  = f.association :subject_items, label_method: :title, value_method: :id, label: 'Subject Items', as: :check_boxes
  = link_to t('shared.back'), students_path, class: 'btn btn-default'
  = f.button :submit
